/* style.css */

/* Général */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header div {
    float: right;
    margin-right: 20px;
}

header div p {
    display: inline;
    margin-right: 10px;
}

header div a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.search-bar {
    margin: 10px 0;
    text-align: center;
}

.search-bar input[type="text"] {
    padding: 5px;
    width: 200px;
}

.search-bar button {
    padding: 5px 10px;
}

/* Formulaires */
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="password"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Accueil et articles */
h1 {
    text-align: center;
    margin: 20px 0;
}

.post {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.post h2 {
    margin-top: 0;
}

.post h2 a {
    color: #333;
    text-decoration: none;
}

.post h2 a:hover {
    text-decoration: underline;
}

/* Commentaires */
.comment {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    border-left: 4px solid #333;
}

.comment p {
    margin: 10px 0;
}

.comment form {
    display: inline;
}

.comment form button {
    background-color: transparent;
    color: #333;
    border: none;
    cursor: pointer;
}

.comment form button:hover {
    text-decoration: underline;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Liens */
a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
